<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<title>Get Api Page</title>
		<link rel="stylesheet" type="text/css" href="/plugins/angular-material/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	</head>
	<body ng-app="MainApp" ng-cloak layout="column" ng-controller="GetController">
			<md-toolbar class="md-primary">
				<div class="md-toolbar-tools">
					<span>Get Api Page</span>
					<span flex></span>
				</div>
			</md-toolbar>
			<div flex layout="row" layout-padding>
			<div flex="25" layout="column" layout-padding layout-margin>
				<div flex="5"></div>
				<div style="padding:0;"md-whiteframe="3" flex="75">
						<md-toolbar>
							<div class="md-toolbar-tools">
								<span>Find Position</span>
								<span flex></span>
							</div>
						</md-toolbar>
						<div layout-padding>
							<md-input-container style="margin-top:20%;margin-bottom:0px;"class="md-block">
								<label>Enter InstrumentId</label>
								<input ng-change="data.isresult=true;" type="number" ng-model="data.instrumentid"/>
							</md-input-container>
							<md-button ng-disabled="data.instrumentid==null || data.instrumentid===''" ng-click="getposition()" class="md-raised md-accent">
								Submit
							</md-button>
							<div ng-show="data.isloading" class="loadingbar" layout="row" layout-sm="column" layout-align="space-around">
						      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
						    </div>
							<div style="margin-top:10px;" ng-show="data.position!=null">
								<b>Position : {{data.position}}</b>
							</div>
							<div ng-show="!data.isresult">
								<b>InstrumentId {{data.instrumentid}} does not exist.</b>
							</div>
						</div>
				</div> 
				<div flex></div>
			</div>
			
			<div style="padding:0;" md-whiteframe="4" layout="column" flex >
				<md-toolbar  class="md-accent subheader-wrapper">
					<div layout="row" class="md-toolbar-tools">
							<div class="coltitle" flex>
								<i class="material-icons">gavel</i>
								<span>INSTRUMENTID</span>
							</div>
							<div class="coltitle" flex>
								<i class="material-icons">poll</i>
								<span>POSITION</span>
							</div>
					</div>
				</md-toolbar>
				<div class="rowdatawrapper" flex layout-padding>
					<div class="rowdata" layout="row" ng-repeat="instrument in instruments">
						<div class="rowdataentry rowentry1" flex>
							<span>
								{{instrument.instrumentid}}
							</span>
						</div>
						<div class="rowdataentry rowentry2" flex>
							<span>
								{{instrument.position}}
							</span>
							<i ng-show="instrument.isup" class="material-icons up">arrow_drop_up</i>
							<i ng-show="!instrument.isup" class="material-icons down">arrow_drop_down</i>
						</div>
					</div>
				</div>
			</div>
			</div>
		<script type="text/javascript" src="/plugins/angular/angular.min.js"></script>
		<script type="text/javascript" src="plugins/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="plugins/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="/plugins/angular-material/angular-material.min.js"></script>
		<script type="text/javascript"> var socket = undefined;</script>
		<script type="text/javascript" src="/assets/js/app2.js"></script>
	</body>
</html>