<html>
	
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<title>Specific Instrument Page</title>
		<link rel="stylesheet" type="text/css" href="/plugins/angular-material/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

	</head>
	<body ng-app="MainApp" ng-cloak layout="column" ng-controller="InstrumentController">
		<md-toolbar class="md-primary">
				<div class="md-toolbar-tools">
					<span>Specific Instrument Page</span>
					<span flex></span>
				</div>
		</md-toolbar>
		<div style="padding:0;" md-whiteframe="4" layout="column" layout-margin  flex >
				<md-toolbar class="md-accent subheader-wrapper">
					<div layout="row" class="md-toolbar-tools">
							<div class="coltitle" flex>
								<i class="material-icons">gavel</i>
								<span>INSTRUMENTID</span>
							</div>
							<div class="coltitle" flex>
								<i class="material-icons">poll</i>
								<span>POSITION</span>
							</div>
					</div>
				</md-toolbar>
				<div class="rowdatawrapper" flex layout-padding>
					<div class="rowdata" layout="row">
						<div class="rowdataentry rowentry1" flex>
							<span>
								{{instrument.instrumentid}}
							</span>
						</div>
						<div class="rowdataentry rowentry2" flex>
							<span>
								{{instrument.position}}
							</span>
							<i ng-show="instrument.isup" class="material-icons up">arrow_drop_up</i>
							<i ng-show="!instrument.isup" class="material-icons down">arrow_drop_down</i>
						</div>
					</div>
				</div>
		</div>
		<script type="text/javascript" src="/plugins/angular/angular.min.js"></script>
		<script type="text/javascript" src="/plugins/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="/plugins/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="/plugins/angular-material/angular-material.min.js"></script>
		<script type="text/javascript">
			 var socket = undefined;
			 var instrument = <%- instrument%> ;
		</script>
		<script type="text/javascript" src="/assets/js/app2.js"></script>
	</body>
</html>