div.instrumentwrapper{
		overflow: hidden;
		overflow-y: auto;
		background-color: black;
		height: 100%;
		color: white;
}

div.instrumentwrapper div.instrument{
		padding: 10px 2px;
		word-wrap : break-word;
		margin-bottom: 5px;
		border-bottom: 1px lavender solid;
}
div.inputwrapper{
		position: relative;
}

div.instrumentholder{
	background-color: white;
}

md-toolbar.subheader-wrapper{
	width: auto;
}

 div.coltitle{
	text-align: center;
}

md-toolbar.subheader-wrapper div.coltitle span{
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 500;
}

md-toolbar.subheader-wrapper div.coltitle i{
	margin-right: 5px;
}

div.rowdatawrapper{
	overflow: hidden;
	overflow-y : auto;
}
div.rowdata{
	padding: 15px;
	border-bottom: 1px lavender solid;
	margin-bottom: 2px;
	cursor: pointer;
}

div.rowdata:hover{
	background-color: #eee;
}

div.rowdata div.rowdataentry{
	text-align: center;	
}

div.rowdata div.rowentry1{
	position: relative;
}
div.rowdata div.rowentry2{
	position: relative;
}

div.rowdata div.rowentry2 i.up{
	position: absolute;
	top: calc(50% - 12px);
	color: green;
}

div.rowdata div.rowentry2 i.down{
	position: absolute;
	top: calc(50% - 12px);
	color: red;
}

div.loadingbar{
		position: relative;
}