<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<title>Update Instrument Data</title>
		<link rel="stylesheet" type="text/css" href="/plugins/angular-material/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	</head>
	<body ng-app="MainApp" ng-cloak layout="column" ng-controller="CronController">
		<md-toolbar class="md-primary">
			<div class="md-toolbar-tools">
				<span>Instrument Update Page</span>
				<span flex></span>
			</div>
		</md-toolbar>
		<div md-whiteframe="4" layout="column" flex="65" layout-padding class="instrumentholder">
				<div class="instrumentwrapper">
					<div ng-repeat="instrument in instruments track by $index" class="instrument">
						{{instrument}}
					</div> 
				</div>
		</div>
		<div flex layout-padding>

				<md-checkbox ng-model="isFileModeEnabled">Upload File</md-checkbox>
				<input ng-disabled="!isFileModeEnabled" type="file" name="file" fileread/>
				<md-button class=" md-raised" ng-disabled="file==null" ng-click="UploadFile()">
						Upload
				</md-button>
				<div layout="row">
					<md-input-container style="margin-top:0;" flex="80">
						<label>Enter the Instrument String</label>
						<input ng-disabled="isFileModeEnabled" ng-model="instrumentdata" type="text"/>
					</md-input-container>
					<div style="text-align:center;" flex>
						<md-button  class="md-raised md-accent" ng-click="SendInstrumentOrder()" ng-disabled="checkinstrumentdata() ">
								submit
						</md-button>
					</div>
				</div>
		</div>
		
	
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/plugins/angular/angular.min.js"></script>
		<script type="text/javascript" src="plugins/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="plugins/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="/plugins/angular-material/angular-material.min.js"></script>
		
		<script type="text/javascript">
			var socket = io();
		</script>
		<script type="text/javascript" src="/assets/js/app2.js"></script>
	</body>
</html>